

/* h1 {
    color: chocolate;
    font-weight: bold;
    text-align: center;
    font-size: large;
    font-family: 'roboto';
} */

/* p {
    color: whitesmoke;
    background-color: chocolate;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
    font-weight: 900;
    padding: 24px;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    
} */

body {
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-weight: 900;
}

.navbar .btn-outline-light:hover {
    color: var(--bs-dark);
}

.navbar .btn-richard:hover {
    color: white;
}

.icon-wrapper {
    margin: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-wrapper .icon-tile {
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.icon {
    background: orange;
    color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.icon-tile .icon-content {
    margin-top: 3rem;
}

.icon-tile .icon-content h3 {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 700;
}

.icon-tile .icon-content p {
    margin-top: 2rem;
    font-size: .8rem;
}

.footer {
    text-align: center;
    margin: 5rem 0;
}

.footer span {
    font-weight: 700;
}